html, body,
h1, h2,
p,
ul,li {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 10px;
	font-family: monospace;
	color: #555;
}

.container {
	width: 100%;
	height: 100%;
}

.wrapper {
	width:960px;
	overflow: hidden;
	margin:10em auto;
	padding:7em 0 0 0;
}

.header {
	position: relative;
	height: 7em;
	background-color: #fff;
	width: 100%;
	border-bottom: 0.1em solid #33cccc;
}

.fixed {
	position: fixed;
	top: 0;
}

.squiggle {
	position: absolute;
	top: 3em;
	left: 50%;
	margin-left: -4em;
	width: 8em;
	height:8em;
	background:url('web-svg/logo-white.svg') center center no-repeat;
	background-color: #33cccc;
	background-size: 80% auto;
	/*border:1px solid #33CCCC;*/
	cursor: default;
}

.big-squiggle{
	margin: auto;
	display: block;
	width: 100%;
	height: 100%;
	background:url('web-svg/logo.svg') center center no-repeat;
	background-color: #FFF;
	background-size: 40% auto;
	cursor: default;
}

h1 {
	padding-top: 1em;
	width:10em;
	margin:auto;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
}

h2 {
	font-size: 1.8em;
	line-height: 1em;
	padding-bottom: 0.2em;
}

.rectangle {
	float: left;
	width: 20em;
	height: 10em;
	margin: 2em;
	overflow: hidden;
}

.tomato {
	background-color: tomato;
}

.blue {
	background-color: #33CCCC;
}









/* V1 Styles */

.content-box {
	float:left;
	width: 400px;
	padding:10px 10px;
	margin: auto;
	overflow: hidden;
	/*border-top: 1px solid tomato;
	border-bottom: 1px solid tomato;*/
}

.float-left {
	float:left;
}

.big-col {
	display: inline;
	float:left;
	width:60%;

}

.little-col {
	display: inline;
	float: left;
	width: 36%;
	padding:4% 0 0 4%;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.skills {

}

.skills ul li{
	margin: 0 1em;
	padding: 0.4em 0;
	font-size: 1.2em;
	display: inline-block;
	list-style: none;
}

@media screen and (max-width: 981px){

	.wrapper {
		width:90%;
		margin: 7em auto;
	}

	.content-box {
		float:none;
		width: 90%;
		margin:auto;
		border:none;
	}

	.rectangle {
		width: 48%;
		min-width: 30em;
		height:30em;
		margin: 1%;
	}
}

@media screen and (max-width: 710px){

	.wrapper {
		width: 94%;
		margin: 7em auto;
	}

	.rectangle {
		width: 100%;
		min-width: 30em;
		margin:1em 0;
	}

	.big-col {
		display: block;
		float:none;
		width: 96%;
		margin:auto;
	}

	.little-col {
		display: block;
		float: none;
		width:96%;
		padding:2% 2% 10% 2%;
	}

}

/* This is purely for breathing space while coding. Must delete later */

.whitespace{
	height:100%;
}

/* CSS3 ANIMATIONS */

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}